<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>お知らせ from <%= @group.name %></h2>
    <p>
      ＜タイトル＞<br>
      <%= @title %>
    </p>
    <p>
      ＜内容＞<br>
      <%= @body %>
    </p>
  </body>
</html>
