<div class="container">
  <div class="row justify-content-center">
    <div class="col-6">
      <h1>送信が完了しました</h1>
      <p>内容は以下の通りです。</p>
      <p>[タイトル]</p>
      <p><%= @title %></p>
      <p>[本文]</p>
      <p><%= @body %></p>
    </div>
  </div>
</div>
